html{
  background-color: black;
  padding-bottom: 20px;
}

body{
  display: flex;
  justify-content: flex-end;
  width: 75%;
  height: 100%;
  margin: 0 auto 0 auto;
  background-color: white;
  padding: 0 0 15px 0;
}

form{
  position: relative;
  left: 16px;
  width: 60%;
  height: 100%;
  margin: 0 40px 0px 0px;
  font: 0.9em Arial, sans-serif;
  font-weight: bold;
}
fieldset{
  width: 100%;
  margin: 10px 2px -12px 0;
}

.set1{
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding: 80px 0 20px 21px;
  font-size: 1.2em;
}

.set1 p:first-child{
  display: inline;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 150px;
}

.set2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.8em;
  padding-right: 13px;
}

.heading{
  width: 100%;
  margin: auto;
}

.set2 div{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

label{
  margin: 5px 20px;
  font-weight: bold;
  font-size: 1.2em;
}

span{
  display: block;
}

input{
  appearance: none;
  outline: none;
  margin: 10px 0 10px 0;
  height: 25px;
  width: 250px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #E5E7EB;
}

input:active:valid,
input:focus:valid{
  border-color: blue;
  box-shadow: 3px 3px 3px #E5E7EB;
}

input:invalid,
input:invalid:focus,
input:invalid:active,
input:invalid:empty{
  border-color: red;
  box-shadow: 3px 3px 3px #E5E7EB;
}

.set3{
  padding-bottom: 80px;
  box-shadow: inset -2px 3px 6px #E5E7EB;
}

button{
  padding: 15px 40px;
  color: white;
  background-color: #596D48;
  border-style: none;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: bold;
}

a{
  color: #596D48;
}